@use '@/assets/icons';

.layout {
  --nav-width: 300px;

  @apply min-h-screen flex flex-col;

  @at-root {
    .layout_header {
      @apply flex-none;
    }

    .layout_main {
      @apply flex-grow;
    }
  }
}

.layout_header {
  @apply h-16 px-4 sticky top-0 z-10 flex items-center;
  @apply bg-day/80 dark:bg-night/80 border-b border-neutral-200/50 dark:border-neutral-600/50 backdrop-blur-lg cursor-pointer;
}

.layout_header_caret {
  @apply w-6 h-6 absolute inset-x-0 bottom-0 mx-auto fill-black dark:fill-white opacity-30 pointer-events-none transition duration-100;

  @at-root .layout_header:hover & {
    @apply opacity-100;
  }
}

.layout_header_burger {
  @apply w-6 h-6 mr-4 justify-center items-center;
  @apply hidden;

  i {
    @apply inline-block w-5 h-5 bg-contain;
    @include icons.menu-2(black, white);
  }

  @at-root .layout_header:has(+ .layout_main .layout_nav ul) & {
    @apply flex;
  }

  @media (min-width: theme('screens.lg')) {
    @apply hidden #{!important};
  }
}

.layout_header_nav {
  @apply ml-auto;
}

.layout_main {
  @apply flex;

  @at-root {
    .layout_nav {
      @apply hidden;
    }

    .layout_page {
      @apply flex-1;

      @media (min-width: theme('screens.lg')) {
        padding-left: var(--nav-width);
      }
    }
  }

  &:has(.nav_root) {
    .layout_nav {
      @at-root .layout[data-layout-menu-open] & {
        @apply block;
      }

      @media (min-width: theme('screens.lg')) {
        @apply block;
      }
    }
  }
}

.layout_nav {
  @apply fixed inset-0 top-[64px] z-10 overflow-y-auto bg-day dark:bg-night border-r border-neutral-200 dark:border-neutral-700;
  width: var(--nav-width);
  max-width: 100vw;
  height: calc(100% - 65px);
}

.layout_page {
  @apply flex flex-col min-w-0 transition duration-200;

  @at-root .layout[data-layout-menu-open] & {
    @apply blur lg:blur-0;
  }
}

/* Site Title */

.site_title {
  @apply flex items-center;
}

.site_logo {
  @apply mr-2;
}

.site_name {
  @apply hidden sm:inline whitespace-nowrap;
  @apply font-semibold text-black dark:text-white;
}

.site_description {
  @apply hidden lg:inline truncate;
  // TODO: Move blog layout styles to CSS modules to avoid overriding
  @apply opacity-100 #{!important};
  @apply before:content-[',_'] font-normal text-neutral-600 dark:text-neutral-300;
}

/* Left Nav */

.nav_root {
  @apply px-8 my-4;
}

.nav_item {
  .is_active {
    @apply -mx-8 px-8 bg-neutral-300/50 dark:bg-neutral-600/50;
  }
}

.nav_item_label {
  @apply block py-1 text-sm;

  span {
    @apply block;
  }

  &:has(+ ul) {
    @apply font-bold;
  }

  @at-root span#{&} {
    @apply text-neutral-500 dark:text-neutral-400;

    &:has(+ ul) {
      @apply uppercase;
    }
  }

  @at-root a#{&} {
    @apply hover:text-black dark:hover:text-white;
  }

  &.is_active {
    @apply text-black dark:text-white;
  }

  &.is_external {
    @apply flex items-center;

    &::after {
      @apply ml-auto text-neutral-400 dark:text-neutral-500;
      content: '↗︎';
    }
  }
}

.nav_group {
  @apply my-4;

  ul {
    @apply border-l border-neutral-300 dark:border-neutral-600;

    ul {
      @apply -ml-px;
    }
  }

  li {
    @apply -ml-px border-l border-transparent;

    &:has(> a):not(:has(li:hover)):hover {
      @apply border-black dark:border-white;
    }
  }
}

/* Site Footer */

.layout_footer {
  @apply mt-auto w-full px-4;
  margin-right: var(--nav-width);

  > div {
    @apply flex flex-col items-center;
    @apply py-4 text-sm text-neutral-600 dark:text-neutral-400 border-t border-neutral-200 dark:border-neutral-700;
  }

  @media (min-width: theme('screens.xl')) {
    @apply grid px-0 w-auto;
    grid-template:
      ' .                 content                    .                ' auto
      / minmax(32px, 1fr) minmax(max-content, 708px) minmax(32px, 1fr);

    > div {
      grid-area: content;
      @apply flex-row justify-between items-start;
    }
  }
}

/* Post */

.post_layout {
  @apply grid;
  grid-template:
    ' title    ' auto
    ' summary  ' auto
    ' content  ' auto
    ' info     ' auto
    ' comments ' auto
    / 1fr;

  @media (min-width: theme('screens.xl')) {
    grid-template:
      ' .                 title            .                 info            ' auto
      ' .                 summary          .                 info            ' auto
      ' .                 content          .                 aside           ' auto
      ' .                 comments         .                 .               ' auto
      / minmax(32px, 1fr) minmax(0, 708px) minmax(32px, 1fr) var(--nav-width);
  }

  > article {
    @apply contents;
  }

  > aside {
    @apply hidden xl:block pt-8 pr-8;
    grid-area: aside;
  }

  @at-root {
    .post_title {
      grid-area: title;
    }

    .post_summary {
      grid-area: summary;
    }

    .post_info {
      @apply self-end;
      grid-area: info;
    }

    .post_content {
      grid-area: content;
    }

    .post_comments {
      grid-area: comments;
    }
  }
}

.post_title {
  @apply mx-4 xl:mx-0 py-4 xl:py-8 text-4xl font-bold text-black dark:text-white border-b border-neutral-300 dark:border-neutral-600;

  &:has(+ .post_summary) {
    @apply pb-4 border-0;
  }
}

.post_summary {
  @apply mx-4 xl:mx-0 pb-4 xl:pb-8 text-neutral-500 border-b border-neutral-300 dark:border-neutral-600;
}

.post_info {
  @apply mx-4 xl:mx-0 pt-4 pb-8 mr-8 text-sm text-neutral-500 dark:text-neutral-400 border-t xl:border-t-0 xl:border-b border-neutral-300 dark:border-neutral-600 flex items-start;

  @at-root {
    .post_update_time {
      @apply flex items-center;

      &::before {
        @apply w-4 h-4 mr-1;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23737373"%3E%3Cpath d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"%3E%3C/path%3E%3C/svg%3E');
      }
    }
  }
}

.post_content {
  @apply mx-4 xl:mx-0 py-4 xl:py-8;
}

.post_toc {
  @apply sticky;
  // 65px is the height of expanded nav, plus 16px to keep margin
  // TODO: Remove the magic number
  top: 65px + 16px;
  bottom: 0;
}

.post_comments {
  @apply px-4 pb-4;

  @media (min-width: theme('screens.xl')) {
    @apply px-0 pb-8;
  }
}

/* 404 Page */

.layout[data-page='/404'] .layout_page {
  @apply pt-20;
}
