/* Site Nav */

.site_nav {
  @apply relative flex items-center;
}

.site_nav_list {
  @apply px-4 py-2 absolute top-full right-0 whitespace-nowrap flex flex-col items-end space-y-2;
  @apply bg-day dark:bg-night border border-neutral-400/50 dark:border-neutral-500/50 rounded;

  @at-root .site_nav:not([data-menu-open]) & {
    @apply hidden;
  }
}

.site_nav_item {
  @apply text-black dark:text-gray-50;

  > a {
    @apply hover:underline underline-offset-4;
  }
}

.site_nav_more {
  &::before {
    @apply block w-6 h-6;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpath d='M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z'%3E%3C/path%3E%3C/svg%3E");

    @at-root .dark & {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3ZM12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

@media (min-width: theme('screens.lg')) {
  .site_nav {
    @apply text-neutral-600 dark:text-neutral-300;
  }

  .site_nav_list {
    @apply p-0 static bg-transparent border-0 flex-row items-center space-y-0 space-x-4;
    @apply flex #{!important};
  }

  .site_nav_more {
    @apply hidden;
  }
}

/* Search */

.search_input {
  @apply flex items-center;
  @apply text-black dark:text-white bg-day dark:bg-night border border-night dark:border-day rounded transition duration-100;
  &:focus-within {
    @apply ring-1 ring-black dark:ring-white shadow-md;
  }

  > input {
    @apply flex-1 px-3 py-2 bg-transparent outline-none;
  }

  > button {
    @apply flex-none w-10 h-6 bg-no-repeat bg-center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z'%3E%3C/path%3E%3C/svg%3E");

    @at-root .dark & {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.search_tag_list {
  @apply my-4 overflow-x-auto flex space-x-3;
  @apply pb-4 border-b border-neutral-300 dark:border-neutral-600;
}

.search_tag_link {
  @apply block px-3 py-2 whitespace-nowrap border rounded;
  @apply text-neutral-600 bg-neutral-100 border-transparent;
  @apply dark:text-neutral-400 dark:bg-night dark:border-neutral-600;

  &.active {
    @apply text-day bg-night dark:bg-neutral-500 dark:border-transparent;
  }
}

/* Post */

.post_layout {
  @apply grid;
  grid-template:
    ' title   ' auto
    ' info    ' auto
    ' toc     ' auto
    ' content ' auto
    / 1fr;
  @media (min-width: theme('screens.lg')) {
    grid-template:
      ' .   title   .   ' auto
      ' .   info    .   ' auto
      ' .   content toc ' auto
      / 1fr 42rem   1fr;

    &.fullwidth {
      --content-area-width: minmax(0, calc(var(--content-width) - 80px * 2));
      grid-template:
        ' .    title                     .                   ' auto
        ' .    info                      .                   ' auto
        ' .    content                   toc                 ' auto
        / 80px var(--content-area-width) minmax(160px, 320px);
    }
  }

  > article {
    @apply contents;

    @at-root .post_title {
      grid-area: title;
    }

    @at-root .post_info {
      grid-area: info;
    }

    @at-root .post_content {
      grid-area: content;
    }
  }

  > aside {
    @apply px-4 lg:px-0;
    grid-area: toc;
  }
}

.post_title {
  @apply px-4 text-3xl font-bold text-black dark:text-white;
}

.post_info {
  @apply px-4 mt-7 text-neutral-500 dark:text-neutral-400 flex items-start;
}

.post_content {
  @apply px-4;
}
