@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbarBG: #ffffff00;
    --thumbBG: #b8b8b8;

    font-size: 16px;

    color: #37352f;

    @media (prefers-color-scheme: dark) {
      color: #ffffffcf;
    }
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbarBG);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--thumbBG);
    }
  }

  ::selection {
    background: rgba(45, 170, 219, 0.3);
  }
}

@layer components {
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }

  /* Site header */

  .sticky-nav {
    @apply max-w-3xl sticky -top-px z-10 bg-day/80 dark:bg-night/80 border-b-transparent backdrop-blur-lg;
    @apply transition-all duration-300 ease-in-out;
  }

  .sticky-nav-full {
    @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50 cursor-pointer;

    @media (min-width: theme('screens.md')) {
      @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
    }
  }

  // Site header: back to top
  .sticky-nav:not(.sticky-nav-full) .caret {
    opacity: 0 !important;
  }

  // Site header: title block
  .site-block-title {
    @apply flex items-center;

    > span {
      @apply hidden ml-2 font-medium text-gray-600 dark:text-gray-300;

      @media (min-width: theme('screens.md')) {
        @apply grid grid-rows-1 grid-cols-1;
      }

      > * {
        @apply row-start-1 col-start-1 transition duration-75;
      }

      > *,
      .site-description {
        @apply transition duration-75;
      }
    }

    @at-root {
      .site-title {
        @at-root .site-description {
          @apply before:content-[',_'] font-normal opacity-0;

          @at-root .page-title ~ * & {
            @apply hidden;
          }
        }
      }

      .back-to-home {
        @apply before:content-['←_'];
      }

      .page-title,
      .back-to-home {
        @apply opacity-0;
      }

      .sticky-nav-full {
        .site-description,
        .page-title {
          @apply opacity-100;
        }

        .page-title ~ * .site-name {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      .back-to-home ~ {
        .site-title,
        .page-title {
          @apply opacity-0;
        }
      }

      .back-to-home {
        @apply opacity-100;
      }
    }
  }

  // Site header: nav
  .sticky-nav-full .nav {
    @apply text-gray-600 dark:text-gray-300;
  }

  /* --- */

  nav {
    flex-wrap: wrap;
    line-height: 1.5em;
  }

  .article-tags::-webkit-scrollbar {
    width: 0 !important;
  }

  .tag-container ul {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    user-select: none;
  }
}

@layer utilities {
  .capture-pointer-events * {
    @apply pointer-events-none;
  }
}
