@use '../assets/icons';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbarBG: #ffffff00;
    --thumbBG: #b8b8b8;

    font-size: 16px;

    color: #37352f;

    @media (prefers-color-scheme: dark) {
      color: #ffffffcf;
    }
  }

  body {
    @apply bg-day dark:bg-night;

    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbarBG);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--thumbBG);
    }
  }

  ::selection {
    background: rgba(45, 170, 219, 0.3);
  }
}

@layer components {
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }

  /* Site header */

  .sticky-nav {
    @apply sticky top-0 z-10 bg-day/80 dark:bg-night/80 border-b-transparent backdrop-blur-lg;
    @apply transition-all duration-300 ease-in-out;
  }

  .sticky-nav-full {
    @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50 cursor-pointer;

    @media (min-width: theme('screens.md')) {
      @apply max-w-full px-4 #{!important};
    }
  }

  // Site header: back to top
  .sticky-nav:not(.sticky-nav-full) .caret {
    opacity: 0 !important;
  }

  // Site header: title block
  .site-block-title {
    @apply flex items-center;

    > span {
      @apply hidden ml-2 font-semibold text-gray-600 dark:text-gray-300;

      @media (min-width: theme('screens.sm')) {
        @apply grid grid-rows-1 grid-cols-1;
      }

      > * {
        @apply row-start-1 col-start-1 transition duration-75;
      }

      > *,
      .site-description {
        @apply transition duration-75;
      }
    }

    @at-root {
      .site-title {
        @apply whitespace-nowrap overflow-hidden;

        @at-root .site-description {
          @apply before:content-[',_'] font-normal opacity-0;

          @at-root .page-title ~ * & {
            @apply hidden;
          }
        }
      }

      .page-title {
        @apply truncate;
      }

      .back-to-home {
        @apply before:content-['â†_'];
      }

      .page-title,
      .back-to-home {
        @apply opacity-0;
      }

      .sticky-nav-full {
        .site-description,
        .page-title {
          @apply opacity-100;
        }

        .page-title ~ * .site-name {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      .back-to-home ~ {
        .site-title,
        .page-title {
          @apply opacity-0;
        }
      }

      .back-to-home {
        @apply opacity-100;
      }
    }
  }

  // Site header: nav
  .site-nav {
    @apply relative flex items-center gap-x-4 text-black dark:text-gray-50;

    a, button {
      @apply w-full flex items-center gap-x-2;

      > i {
        @apply inline-block w-5 h-5 bg-contain;
      }

      > span {
        @apply ml-auto;
      }
    }

    a {
      @apply hover:underline underline-offset-4
    }

    @mixin site-nav-button {
      @apply box-content p-1 -m-1 hover:bg-neutral-200 dark:hover:bg-neutral-700 rounded transition duration-100;
      @apply flex items-center gap-x-1;
    }

    @at-root {
      .site-nav-list {
        @apply px-4 py-2 absolute top-full right-0 mt-1.5 -mr-1 whitespace-nowrap flex flex-col gap-y-2;
        @apply bg-day dark:bg-night border border-neutral-400/50 dark:border-neutral-500/50 rounded;

        @at-root .site-nav:not([data-menu-open]) & {
          @apply hidden;
        }
      }

      .site-nav-item-feed {
        i {
          @include icons.rss(black, white);
        }
      }

      .site-theme-switch {
        > button {
          @include site-nav-button;
          @apply hidden;
        }

        &[data-theme=light], & [data-theme=light] {
          > * > i { @include icons.sun(black, white); }
          &[data-active] > * > i { @include icons.sun(white, black); }
        }
        &[data-theme=dark], & [data-theme=dark] {
          > * > i { @include icons.moon(black, white); }
          &[data-active] > * > i { @include icons.moon(white, black); }
        }
        &[data-theme=system], & [data-theme=system] {
          > * > i { @include icons.computer(black, white); }
          &[data-active] > * > i { @include icons.computer(white, black); }
        }

        @at-root {
          .site-theme-list {
            @apply pt-1 border-t border-neutral-300 dark:border-neutral-600 flex flex-col gap-y-px;

            li {
              @apply contents;

              button {
                @apply box-content w-full px-2 -mx-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700 rounded flex justify-between items-center gap-x-2;
              }

              &[data-active] button {
                @apply text-white dark:text-black bg-black dark:bg-white;
              }
            }
          }
        }
      }

      .site-nav-item-more {
        @include site-nav-button;

        i {
          @include icons.ellipsis-v(black, white);
        }
      }

      @media (min-width: theme('screens.lg')) {
        .site-nav {
          @apply text-neutral-600 dark:text-neutral-300;
        }

        .site-nav-list {
          @apply p-0 m-0 static bg-transparent border-0 flex-row items-center gap-x-4;
          @apply flex #{!important};
        }

        .site-theme-switch {
          @apply relative;

          > button {
            @apply flex;
          }

          @at-root {
            .site-theme-list {
              @apply hidden;
            }
          }

          &[data-menu-open] .site-theme-list {
            @apply flex flex-col gap-y-px px-3 py-1 absolute top-full mt-1.5 right-0 -mr-1 bg-day dark:bg-night border rounded;
          }
        }

        .site-nav-item-feed {
          @include site-nav-button;
        }

        .site-nav-item-feed span,
        .site-nav-item-more {
          @apply hidden #{!important};
        }
      }
    }
  }

  /* Post list */

  .post-list {
    .post-type-proverb {
      @apply relative -mx-4 py-5 px-4 -my-px text-black dark:text-neutral-100 bg-neutral-50 dark:bg-neutral-800 border-t border-b border-gray-300 dark:border-gray-700;

      &::before {
        @apply block w-16 h-16 absolute right-4 top-4 bg-no-repeat bg-cover opacity-10 blur-sm;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M6.45455 19L2 22.5V4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V18C22 18.5523 21.5523 19 21 19H6.45455Z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");

        @at-root .dark & {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M6.45455 19L2 22.5V4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V18C22 18.5523 21.5523 19 21 19H6.45455Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
        }
      }

      > * {
        @apply relative;
      }

      @apply grid grid-cols-1 md:grid-cols-2 auto-rows-auto gap-2;

      .post-author {
        @apply text-neutral-500 dark:text-neutral-400 flex items-center;
      }

      .post-author-avatar {
        @apply mr-2 rounded-full;
      }

      .post-title {
        @apply col-span-full text-lg md:text-xl;
      }

      .post-date {
        @apply md:row-start-1 md:col-start-2 md:text-right text-neutral-600 dark:text-neutral-400;
      }
    }
  }

  /* --- */

  .article-tags::-webkit-scrollbar {
    width: 0 !important;
  }

  .tag-container ul {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    user-select: none;
  }
}

@layer utilities {
  .capture-pointer-events * {
    @apply pointer-events-none;
  }
}
