/* NOTION CSS OVERRIDE */

:root {
  --no-leading: 1.5rem;

  /* Notion colors */

  --notion-gray: rgb(120, 119, 116);
  --notion-brown: rgb(159, 107, 83);
  --notion-orange: rgb(217, 115, 13);
  --notion-yellow: rgb(203, 145, 47);
  --notion-teal: rgb(68, 131, 97);
  --notion-blue: rgb(51, 126, 169);
  --notion-purple: rgb(144, 101, 176);
  --notion-pink: rgb(193, 76, 138);
  --notion-red: rgb(212, 76, 71);

  --notion-gray_background: rgb(241, 241, 239);
  --notion-brown_background: rgb(244, 238, 238);
  --notion-orange_background: rgb(251, 236, 221);
  --notion-yellow_background: rgb(251, 243, 219);
  --notion-teal_background: rgb(237, 243, 236);
  --notion-blue_background: rgb(231, 243, 248);
  --notion-purple_background: rgba(244, 240, 247, 0.8);
  --notion-pink_background: rgba(249, 238, 243, 0.8);
  --notion-red_background: rgb(253, 235, 236);

  &.dark {
    --notion-gray: rgb(155, 155, 155);
    --notion-brown: rgb(186, 133, 111);
    --notion-orange: rgb(199, 125, 72);
    --notion-yellow: rgb(202, 152, 73);
    --notion-teal: rgb(82, 158, 114);
    --notion-blue: rgb(94, 135, 201);
    --notion-purple: rgb(157, 104, 211);
    --notion-pink: rgb(209, 87, 150);
    --notion-red: rgb(223, 84, 82);

    --notion-gray_background: rgb(47, 47, 47);
    --notion-brown_background: rgb(74, 50, 40);
    --notion-orange_background: rgb(92, 59, 35);
    --notion-yellow_background: rgb(86, 67, 40);
    --notion-teal_background: rgb(36, 61, 48);
    --notion-blue_background: rgb(20, 58, 78);
    --notion-purple_background: rgb(60, 45, 73);
    --notion-pink_background: rgb(78, 44, 60);
    --notion-red_background: rgb(82, 46, 42);
  }
}

.notion {
  overflow-wrap: break-word;
}

.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply p-0;
  @apply my-2;
  line-height: var(--no-leading);
}

.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-callout {
  &.notion-gray_background_co { background-color: var(--notion-gray_background); }
  &.notion-brown_background_co { background-color: var(--notion-brown_background); }
  &.notion-orange_background_co { background-color: var(--notion-orange_background); }
  &.notion-yellow_background_co { background-color: var(--notion-yellow_background); }
  &.notion-teal_background_co { background-color: var(--notion-teal_background); }
  &.notion-blue_background_co { background-color: var(--notion-blue_background); }
  &.notion-purple_background_co { background-color: var(--notion-purple_background); }
  &.notion-pink_background_co { background-color: var(--notion-pink_background); }
  &.notion-red_background_co { background-color: var(--notion-red_background); }

  @at-root .dark & {
    &.notion-gray_background_co { background-color: rgb(37, 37, 37); }
    &.notion-brown_background_co { background-color: rgb(47, 39, 35); }
    &.notion-orange_background_co { background-color: rgb(56, 40, 30); }
    &.notion-yellow_background_co { background-color: rgb(57, 46, 30); }
    &.notion-teal_background_co { background-color: rgb(34, 43, 38); }
    &.notion-blue_background_co { background-color: rgb(29, 40, 46); }
    &.notion-purple_background_co { background-color: rgb(43, 36, 49); }
    &.notion-pink_background_co { background-color: rgb(48, 34, 40); }
    &.notion-red_background_co { background-color: rgb(54, 36, 34); }
  }
}

.notion-callout > .notion-page-icon-inline {
  max-width: unset;
  max-height: unset;
  height: var(--no-leading);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
}

.notion-callout-text {
  @apply min-w-0;
  padding-left: 2px;
  padding-right: 2px;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}

.notion-viewport {
  z-index: -10;
}

.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}

.notion-asset-wrapper-image {
  &.notion-asset-wrapper-full {
    @apply max-w-full;

    > div {
      @apply -mx-4;
      width: var(--content-width) !important;
      max-width: unset !important;

      @media (min-width: theme('screens.lg')) {
        @at-root .notion-full-width & {
          align-self: flex-start !important;
          margin-left: -96px;
        }
      }
    }
  }

  @at-root .osmium-block &:not(.notion-asset-wrapper-full) > div {
    height: 100% !important;
  }
}

.notion-asset-wrapper-tweet iframe {
  @apply bg-day dark:bg-night;
}

.notion-full-width {
  @apply px-0;
}

.notion-page {
  @apply w-auto px-0 items-stretch;
}

.notion-quote {
  padding: 0.2em 0.9em;
}

.notion-hr {
  border-top-width: 1px;
  border-top-style: solid;
}

.dark .notion-hr {
  border-top-color: rgba(255, 255, 255, 0.13);
}

.notion-collection {
  @apply max-w-full;
}

.notion-collection > .notion-collection-header {
  @apply px-0 #{!important};
}

.notion-collection > .notion-table {
  @apply max-w-full #{!important};
}

.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 #{!important};
}

.notion-collection-page-properties {
  @apply hidden;
}

.notion-property-checkbox {
  width: 24px;
  margin-right: 2px !important;
  display: flex;
  justify-content: center;
}

.notion-to-do-body {
  padding-left: 2px;
  padding-right: 2px;
}

/* react-notion-x code block */

.notion-code-copy {
  top: 10px;
  right: 10px;
}

.notion-code-copy-button {
  padding: 5px;

  svg {
    @apply w-4 h-4;
  }

  @at-root .dark & {
    color: inherit;
    background: #424242;
  }
}

@import './prismjs.scss';

/* Every block */

.osmium-block {
  padding: 3px 2px;
  /* OVERRIDES */
  @apply my-0.5;
}

.osmium-block .osmium-block {
  @apply mt-1 mb-0;
}

/* List block */

.osmium-list {
  > li {
    @apply flex items-start;

    &::before {
      @apply flex-none w-6 h-6 leading-none mr-0.5 flex justify-center items-center;
      font-size: 1.5em;
      font-family: Arial;
    }

    @at-root {
      .osmium-list-item {
        @apply flex-1 min-w-0;
      }
    }
  }

  @at-root ol#{&} > li::before {
    content: var(--list-item-index);
    font-size: unset;
    width: unset;
    min-width: 1.5rem;
  }
}

.osmium-list-disc > li::before { content: '•'; }
.osmium-list-circle > li::before { content: '◦'; }
.osmium-list-square > li::before { content: '▪'; }

/* Toggle block */

.osmium-toggle {
  @apply w-full;
  /* OVERRIDES */
  @apply py-0;

  ::marker {
    @apply content-none;
  }

  > summary {
    @apply relative cursor-pointer grid grid-cols-[24px_1fr] gap-x-0.5;

    @at-root .osmium-toggle-empty > summary {
      @apply cursor-default;
    }

    @at-root .osmium-toggle-triangle {
      @apply w-6 text-center rounded transition duration-75 ease-in flex justify-center items-center;
      line-height: inherit;

      @at-root summary:hover > & {
        background: rgba(55, 53, 47, 0.08);

        @at-root .osmium-toggle-empty > & {
          @apply bg-transparent;
        }
      }

      svg {
        @apply inline-block fill-current;
        width: 0.6875em;
        height: 0.6875em;
        backface-visibility: hidden;
        transition: transform 200ms ease-out 0s;
        transform: rotateZ(90deg);

        @at-root .osmium-toggle[open]:not(.osmium-toggle-empty) > * > & {
          transform: rotateZ(180deg);
        }

        @at-root .osmium-toggle-empty > * > & {
          @apply opacity-50;
        }
      }
    }

    @at-root .osmium-toggle-title {
      @apply flex-1;
    }
  }

  @at-root .osmium-toggle-content {
    @apply mt-0.5;
    padding-left: 1.625rem;

    > * {
      /* OVERRIDES */
      @apply my-0.5;
    }

    > :last-child {
      @apply mb-0;
    }
  }
}

/* Quote block */

.osmium-quote {
  > div {
    padding-left: 14px;
    padding-right: 14px;
    border-left: 3px solid currentColor;
  }

  @at-root .osmium-quote-large {
    font-size: 1.2em;
  }
}
